#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* General body styling */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #2a2a72, #009ffd);
  color: #fff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  text-align: center;
}

/* Styling the rules section */
.toggle-rules-button {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #ffd700;
  color: black;
  border: 2px solid white;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}

.toggle-rules-button:hover {
  background-color: #ffeb3b;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(255, 255, 0, 0.4);
}
.rules {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  animation: fadeInUp 1s ease;
  max-width: 90%;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #fff;
}

.rules h2 {
  font-size: 28px;
  color: #ffd700;
  margin-bottom: 15px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  animation: pop 1s ease;
}

.rules p {
  font-size: 18px;
  margin-bottom: 15px;
  line-height: 1.6;
}

.rules ul {
  list-style-type: none;
  padding: 0;
}

.rules li {
  font-size: 18px;
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
  text-align: left;
}

.emoji {
  font-size: 28px;
  margin-right: 10px;
  color: rgb(255, 215, 0);
  text-shadow: 0 0 5px rgba(255, 255, 0, 0.8), 0 0 10px rgba(255, 255, 0, 0.6);
  display: inline-block;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pop {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.logout-button {
  background: linear-gradient(45deg, #ffa500, #ff4500);
  color: #ffffff;
  padding: 15px 30px;
  border: 2px solid #fff;
  border-radius: 50px;
  font-size: 18px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), 0 5px 20px rgba(255, 140, 0, 0.5);
  transition: all 0.3s ease;
}

.logout-button:hover {
  background-color: #ff6347;
  transform: scale(1.1);
  box-shadow: 0 10px 30px rgba(255, 165, 0, 0.5),
    0 10px 40px rgba(255, 140, 0, 0.7);
}

.logout-button:active {
  transform: scale(0.98);
}

/* Footer */
.footer {
  color: white;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  margin-left: 9rem;
  bottom: 0;
}

.footer p {
  margin: 0;
  font-size: 14px;
}
