.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #222;
  color: white;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  color: #ffd700;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-links button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.navbar-links button:hover {
  color: #000;
}

/*  mobile devices */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
